.services {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.service-item {
    padding: 5px;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #2c3e50;
    border: 1px solid gray;
    width: 15%;
    border-radius: 60px;
    margin: 8px;
}

.service-item i {
    font-size: 30px;
}

@media (max-width : 920px){
    .services {
        flex-wrap: wrap;
        padding: 30 15px;
    }
    .service-item {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width : 412px){
   .service-item {
        width: 40%;
        font-size: 15px;
    }
    
    .service-item i {
        font-size: 14px;
    }
}